@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
    margin: 0;
    background-color: white;
    color: rgb(50, 50, 50);
}

@media (max-width: 700px) {
    #body {
        width: 100%;
    }
}

/* Scalable Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container.scalable {
    width: 95%;
    max-width: none;
}

/* app-container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 951px) {
    #app-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
}

/* header 
   -------------------------------------------------------------------------- */
.head {
    color: #fff;
    background-color: rgb(60, 99, 130);
    height: 80px;
}

.head h1 {
    line-height: 80px;
    color: #fff;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    letter-spacing: .1rem;
    font-size: 2em;
    display: inline-block;
}

.head h2 {
    color: #ebecee;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    font-style: italic;
    font-size: 1.5em;
    letter-spacing: .1rem;
}

#github-link {
    text-decoration: none;
    font-size: 10pt;
    /* font-family: sans-serif; */
    color: white;
    border: solid 1px white;
    border-radius: 2px;
    padding: 2px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 100;
    position: relative;
    top: 25px;
    float: right;
    margin-right: 20px;
    margin-left: 0px;
    transition-duration: 400ms;
}

#github-icon {
    margin-top: 25px;
    margin-right: 10px;
    float: right;
}

/* footer 
    -------------------------------------------------------------------------- */
.foot {
    padding: 20px 40px 20px 40px;
    margin-top: 10px;
    color: #FFF;
    background-color: rgb(60, 99, 130);
    font-size: small;
}

.foot h5 {
    font-size: large;
}

.foot p {
    margin-bottom: 0;
}

.foot a, .foot h5 {
    color: #FFF;
    text-decoration: none;
}

.foot a:focus,
.foot a:hover {
    color: #EEE;
    text-decoration: underline;
}

.uppa-logo {
    display: inline-block;
    width: 30%;
    text-align: right;
}

.about {
    display: inline-block;
    width: 70%;
    float: left;
}


/* left-column
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 1500px) {
    .rc-slider-mark-text {
        font-size: 0.7vw;
    }
}

@media (max-width: 950px) {
    .rc-slider-mark-text {
        font-size: 1.5vw;
    }
}


@media (max-width: 650px) {
    .rc-slider-mark-text {
        font-size: 2vw;
    }
}


@media (min-width: 1301px) {
    #left-column {
        flex: 1 20%;
        margin: 0 3rem 0 0;
        max-height: 83rem;
        overflow-x: hidden;
        overflow-y: auto;
    }
/* 
    .card {
        padding-left: 2rem;
    } */
}

@media (max-width: 1300px) {
    #left-column {
        flex: 1 20%;
        margin: 0 3rem 0 0;
        max-height: 70rem;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media (max-width: 950px) {
    #left-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        max-height: none;
        max-width: none;
    }
}

@media (max-width: 700px) {
    #first-card {
        margin: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/* upload component
-------------------------------------------------- */
.upload-area {
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    box-sizing: border-box;
  }

/* Slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.slider_bloc {
    padding: 20px 10px 25px 4px;
}

.slider_name {
    color: red;
}

.slider {
    margin-left: 6px;
}

/* .rc-slider-track {
    background-color: #13c6e9;
}

.rc-slider-handle {
    border: solid 2px #13c6e9;
} */

/* Left column
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#slider-svm-parameter-C-coef {
    padding: 5px 10px 25px;
}

#slider-svm-parameter-gamma-coef {
    padding: 5px 10px 25px
}

#shrinking-container {
    padding: 20px 10px 25px 4px
}

/* Graph container
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#svm-graph-container {
    margin-top: 0.5rem;
}

#svm-graph-container .graph-wrapper {
    height: 100%;
    width: 100%;
}

@media (min-width: 951px) {
    #graphs {
        flex: 4 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    #graph-sklearn-svm {
        height: 100%;
    }

    #svm-graph-container {
        flex: 2 66%;
    }
}

@media (min-width: 1301px) {
    #graphs {
        height: 83rem;
    }
}

@media (max-width: 1300px) {
    #graphs {
        height: 70rem;
    }

    .gtitle {
        font-size: 1.25rem !important;
    }

    .xtitle, .ytitle {
        font-size: 0.9rem !important;
    }
}

@media (max-width: 950px) {
    #graphs {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #svm-graph-container {
        width: 80vw;
        height: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 4rem;
        border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    }

    #svm-graph-container .graph-wrapper {
        width: 80vw;
        height: 80vw;
    }
}

